body {
    background-color: rgb(210, 217, 240);
}
.container {
    width:800px;
    margin: 0 auto;
    padding: 50px;
    background-color: cornflowerblue;
    border: 5px dashed black;
}

.nav{
    list-style: none;
    text-align: center;
}

.nav li {
    display:inline;
    margin-right: 20px;
}

.div-test {
    background-color:rgb(167, 65, 225);
    text-align:center;
    color:white;
}

.span1 {
    font-size: 50px;
}

.span2 {
    font-size: 15px;
}